{% extends "base_generic.html" %}

{% block content %}
    {% load staticfiles %}
    <!--
    <link href="{% static 'css/table.css' %}" rel="stylesheet"/>
    -->

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet"/>

    <div class="container">
    <!--
        <div class="text-center" style="margin-bottom: 5%">
            <h1>Standings</h1>
        </div>
        -->
        <div style="margin-top: 15px">
        <table id="classification_table" class="table" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th style="width: 1%">#</th>
                <th style="width: 20%">Player</th>
                <th style="width: 20%">Score Points</th>
            </tr>
            </thead>
            <tbody>
            {% for entry in classifications %}
            <tr>
                <td>{{ entry.standing_position }}</td>
                <td>
                    <div>
                        <div class="col-xs-2 ">
                            <img class="img img-circle" src="{{ MEDIA_URL }}{{ entry.player.player_photo.url }}">
                        </div>
                        <div class="col-xs-2">
                            <a href="{% url 'player' entry.player  %}">{{ entry.player }}</a>
                        </div>
                    </div>
                </td>
                <td>{{ entry.score_points }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/dataTables.bootstrap.min.js"></script>


    <script>
        $(document).ready(function() {
            $('#classification_table').DataTable();
        });
    </script>

{% endblock %}