{% extends "base_generic.html" %}

{% block content %}
    {% load staticfiles %}
    <!--
    <link href="{% static 'css/table.css' %}" rel="stylesheet"/>
    -->

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet"/>

    <div class="container">
        <div class="row text-xs-center" style="margin-top: 15px; margin-bottom: 15px">
            <h1>Competitions</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <h2>Season 1</h2>
        </div>
        <div class="row">
            Top Score - XXXXX
        </div>
        <div class="row">
            Top Performance - XXXXXX
        </div>
        <div class="row">
            Top by Game
        </div>
    </div>

{% endblock %}