{% extends "base_generic.html" %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-xs">
                {{ game.game_name }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs">
                Complexity: {{ game.game_complexity }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs">
                Game Playing Time: {{ game.game_time }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs">
                Game URL: <a href="{{ game.game_url }}">{{ game.game_url }}</a>
            </div>
        </div>
    </div>

{% endblock %}