{% extends "base_generic.html" %}

{% block content %}

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet"/>

    <div class="container">
        <h1 class="text-xs-center">Game Matches</h1>
        <table id="matches" class="table" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>Match ID</th>
                <th>Game</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            {% for match in matches %}
            <tr>
                <td><a href="{% url 'matches-detail' match.match_id %}">{{ match.match_id }}</a></td>
                <td><a href="{% url 'game' match.match_game %}">{{ match.match_game }}</a></td>
                <td>{{ match.match_date }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/dataTables.bootstrap.min.js"></script>


    <script>
        $(document).ready(function() {
            $('#matches').DataTable({
                order: [[ 2, 'dsc' ]],
                bLengthChange: false
            });
        });
    </script>

{% endblock %}