{% extends "base_generic.html" %}

{% block content %}

    <div class="container">

    <div class="row">
        <div class="col-xs-2">
            <img class="img img-circle" src="{{ MEDIA_URL }}{{ player.player_photo.url }}">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            Nickname: {{ player.player_nickname }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">First Name: {{ player.player_first_name }}</div>
    </div>
    <div class="row">
        <div class="col-xs-2">Last Name:{{ player.player_last_name }}</div>
    </div>

{% endblock %}