{% extends "base_generic.html" %}

{% block content %}

    <div class="container" style="margin-top: 5%">
    {% for players_row in players %}
        <div class="row" style="margin-bottom: 25px">
        {% for player in players_row %}
            <div class="col-md-6">
                <div class="col-md-6">
                    <img class="img img-circle" src="{{ MEDIA_URL }}{{ player.player_photo.url }}">
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <a href="{% url 'player' player.player_nickname  %}">{{ player.player_nickname }}</a>
                    </div>
                    <div class="row">
                        Bio: {{ player.player_bio }}
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    {% endfor %}
    </div>

{% endblock %}